<div class="container">
    <div class="header">
      <h2>
        Calculator component
      </h2>
    </div>
  
    <div class="grid">
      <div class="row">
        <div class="col-6">
          <div class="operation">
            <div class="row">
              <div class="col-12">
                <input [(ngModel)]="number1" type="number" name="" placeholder="number" />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input [(ngModel)]="number2" type="number" name="" placeholder="number" />
              </div>
            </div>
            <div>
              <div class="col-12">
                <button (click)="add()" class="button">
                  Add
                </button>
                <button (click)="minus()" class="button">
                  Minus
                </button>
                <button (click)="toggle()" class="button">
                  Toggle
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="result">
            <span>
              Number 1: {{number1}}
              Number 2: {{number2}}
              Result: {{result}}
              Status: {{status}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  